
body {
    margin: auto;
}

/* Navigation fixe */
.nav {
    z-index: 1;

}

/* Navigation non-fixe */
#non-fixe {
    z-index: 1;
    padding-top: 15px;
    text-align: center;
}
/* Bannière */
.banner {
    background-image: url('../img/banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 400px;
}
/* Boutons du header */

button {
    width: 100px;
    height: 50px;
}

/* Cartes des fiches profil des animaux */
.card-group {
    img {
        width: 202px;
        height: 359px;
    }
}


/* Icônes du footer */
.icones-footer p {
    padding-top: 10px;
}

.reseaux {
    padding-top: 50px;
}