/* Navigation fixe */
.nav {
    z-index: 1;
}


/* Bannière */
.banner {
    background-image: url('../img/banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.banner img {
    width: 100%;
}

/* Icônes du footer */
.icones-footer p {
    padding-top: 10px;
}

.reseaux {
    padding-top: 50px;
}